{% extends "index.html" %}
{% block title %}Menu{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <div class="container-xxl bg-white p-5">
        {% for c in chaolong %}
            {{ c.name }}
            {{ c.price }}
            {{ c.nutrition_value }}
            {{ c.type }}
            <img class="border border-rounded"
                 src="{{ c.image_link.url }}"
                 alt=""
                 height="0"
                 width="0">
        {% endfor %}
    </div>
{% endblock %}
