{% load crispy_forms_tags %}
{% if not request.user.is_authenticated %}
    <form method="post" autocomplete="off" class="form-control">
        {% csrf_token %}
        {{ registerForm|crispy }}
        <!-- Register button -->
        <button type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary w-100 mb-4"
                name="register"
                value="register">Register</button>
    </form>
{% else %}
    <h3>You have been logged in as {{ user.username }} please log out.</h3>
    <div class="row text-center justify-content-center">
        <div class="col-lg-5 m-1">
            <a type="submit" href="{% url 'logout' %}" class="btn btn-primary w-100">Log Out</a>
        </div>
        <div class="col-lg-5 m-1">
            <a href="{% url 'main' %}" class="btn btn-primary w-100">Main Page</a>
        </div>
    </div>
{% endif %}
