{% extends "master.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div class="container-xxl bg-white p-4">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->
        <!-- Spinner End -->
        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
                    <h1 class="mb-5">Contact For Any Query</h1>
                </div>
                <div class="row g-4">
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.301997719296!2d106.69119807583846!3d10.7881661589755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fcad86be0c1%3A0x6a64d9be45c56f61!2sLe%20Van%20Tam%20Park!5e0!3m2!1sen!2s!4v1714378916304!5m2!1sen!2s"
                                width="600"
                                height="450"
                                border="0"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Address</h4>
                            <p class="mb-2">
                                <i class="fa fa-map-marker-alt me-3"></i>123 Le Van Tam Street, District 1, Ho Chi Minh City
                            </p>
                        </div>
                        <div class="row">
                            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Hotline</h4>
                            <p class="mb-2">
                                <i class="fa fa-phone-alt me-3"></i>+012 345 67890
                            </p>
                        </div>
                        <div class="row">
                            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Email</h4>
                            <p class="mb-2">
                                <i class="fa fa-envelope me-3"></i>testing@testing.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
{% endblock %}
