{% extends "master.html" %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
{% block head %} {% endblock %} {% block body %}
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <!-- <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->
    <!-- Spinner End -->

    <!-- Reservation Start -->
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0 pt-4">
            <div class="col-md-6">
                <div class="video">
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 bg-dark d-flex align-items-center">
                <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                    <h1 class="section-title ff-secondary text-start text-primary fw-normal">
                        Reservation
                    </h1>
                    <h1 class="text-white mb-4">Book A Table Online</h1>
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{ reservationForm|crispy }}
                        <!-- <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name" />
                                    <label for="name">{{field.customer_name}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="phone" class="form-control" id="phonenum" placeholder="Phone Number" />
                                    <label for="phone">{{field.phone_num}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="datetime"
                                        placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                    <label for="datetime">{{field.eat_time}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="numOfPeople"
                                        placeholder="Number of people" />
                                    <label for="select1">{{field.num_of_people}}</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkTable">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Choose Table?
                                    </label>
                                </div>
                            </div>
                            <div id="extraForm" class="col-md-12 d-none">
                                <div class="form-floating">
                                    <select class="form-select" id="select1">
                                        <option value="1">Table 1</option>
                                        <option value="2">Table 2</option>
                                        <option value="3">Table 3</option>
                                    </select>
                                    <label for="select1">Table</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkVIP">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Choose VIP room?
                                    </label>

                                </div>
                            </div>
                            <div id="extraForm2" class="col-md-12 d-none">
                                <div class="form-floating">
                                    <select class="form-select" id="select1">
                                        <option value="1">Room 1</option>
                                        <option value="2">Room 2</option>
                                        <option value="3">Room 3</option>
                                    </select>
                                    <label for="select1">VIP Room</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Special Request" id="message"
                                        style="height: 100px"></textarea>
                                    <label for="message">Special Request</label>
                                </div>
                            </div>

                            

                        </div> -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100 py-3" name="Book Now" value="Book Now">
                                Book Now
                            </button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                            allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{% endblock %}

</html>