.menu-utility--tag:hover {
  text-decoration: underline;
}

.menu-utility--tag.inactive {
  border: 1px rgb(175, 177, 36) solid;
  background-color: rgb(253, 255, 158);
}

.menu-utility--tag.inactive:hover {
  border: 1px rgb(206, 209, 15) solid;
}

.menu-utility--tag.inactive:hover {
  border: 1px rgb(206, 209, 15) solid;
}

.menu-utility--tag.active {
  border: 1px rgb(226, 230, 47) solid;
  background-color: rgb(232, 234, 100);
}

.menu-utility--tag.active:hover {
  background-color: rgb(246, 249, 91);
}

.menu-utility--tag.active:active {
  background-color: rgb(246, 249, 91);
}

.menu-utility--type:hover {
  text-decoration: underline;
}

.menu-utility--type.inactive {
  border: 1px rgb(142, 177, 36) solid;
}

.menu-utility--type.inactive:hover {
  border: 1px rgb(206, 209, 15) solid;
}

.menu-utility--type.inactive:active {
  border: 1px rgb(206, 209, 15) solid;
}

.menu-utility--type.active {
  border: 1px rgb(163, 234, 100) solid;
  background-color: rgb(163, 234, 100);
}

.menu-utility--type.active:hover {
  background-color: rgb(176, 237, 122);
}

.menu-utility--type.active:hover {
  background-color: rgb(176, 237, 122);
}