body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.menu-item img 
{
  height: 150px;
  width: 100%;
}

.custom-menu--wrapper{
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
}

.custom-menu--wrapper img{
  height: 50px;
  width: auto;
}


.custom-menu__item--wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}