{% extends "master.html" %}
{% block title %}Book A Table{% endblock %}
{% block
    head %}
{% endblock %}
{% block body %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->
        <!-- Spinner End -->
        <!-- Reservation Start -->
        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0 pt-4">
                <div class="col-md-6 bg-dark d-flex align-items-center justify-content-center row">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h1 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h1>
                        <h1 class="text-white mb-4">Book A Table Online</h1>
                        {% include "restaurant/reservationForm.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Reservation End -->
        <!-- Back to Top -->
        {% include "backToTopUtil.html" %}
    </div>
{% endblock %}
