{% load crispy_forms_tags %}
<form action="" method="post" autocomplete="off" class="form-control">
    {% csrf_token %}
    <div class="row">
        {{ reservationForm|crispy }}
        {% comment %} {{ reservationTable|crispy }} {% endcomment %}
        {% comment %} {{ reservationVip|crispy }} {% endcomment %}
        {% comment %} <div class="col-12">
            {{ reservationForm.customer_name.as_field_group }}
            {{ reservationForm.customer_name.errors }}
            <label for="{{ reservationForm.customer_name.id_for_label }}">Customer Name:</label>
            {{ reservationForm.customer_name }}
        </div>
        <div class="col-12">{{ reservationForm.phone_num.as_field_group }}</div>
        <div class="col-5">{{ reservationForm.eat_time.as_field_group }}</div>
        <div class="col-5">{{ reservationForm.vip_room.as_field_group }}</div>
        <div class="col-12">{{ reservationForm.eat_time.as_field_group }}</div> {% endcomment %}
        <div class="col-12">
            <button type="submit"
                    class="btn btn-primary w-100 py-3"
                    name="Book Now"
                    value="Book Now">Book Now</button>
        </div>
    </div>
</form>
{% comment %} <form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        {{ reservationForm|crispy }}
        {{ reservationTable|crispy }}
        {{ reservationVip|crispy }}
        <div class="fieldWrapper">{{ reservationForm.customer_name.as_field_group }}</div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 py-3" name="Book Now" value="Book Now">Book Now</button>
    </div>
</form> {% endcomment %}
